ISS.FLOW
[{"id":"e388a52c.cab618","type":"template","z":"1d8c3042.9e938c","name":"Space Station Tracker","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Realtime ISS</title>\n        <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\" />\n        <style type=\"text/css\">\n            html { height: 100% }\n            body { height: 100%; margin: 0; padding: 0 }\n            #map { height: 100% }\n        </style>\n        <script type=\"text/javascript\" src=\"//maps.googleapis.com/maps/api/js?key=AIzaSyAFLoXS1lPMv75OISOZ0GujwAhH1LPlJP4&sensor=false\"></script>\n        <script src=\"//googlemaps.github.io/js-map-label/src/maplabel-compiled.js\"></script>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n            var map, marker, last_latlng;\n\n            function init() {\n                var latlng = new google.maps.LatLng(43.7081784,-79.4609571);//51.48931, -0.08819);\n                var mapOptions = { center: latlng, zoom: 2, mapTypeId: google.maps.MapTypeId.TERRAIN, //zoomControl: true, scaleControl: true}\n          \n           mapTypeControl: true,\n          mapTypeControlOptions: {\n              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,\n              position: google.maps.ControlPosition.TOP_CENTER\n          },\n          zoomControl: true,\n          zoomControlOptions: {\n              position: google.maps.ControlPosition.LEFT_CENTER\n          },\n          scaleControl: true,\n          streetViewControl: true,\n          streetViewControlOptions: {\n              position: google.maps.ControlPosition.LEFT_TOP\n          },\n          fullscreenControl: true\n                }\n\n\n                map = new google.maps.Map(document.getElementById(\"map\"), mapOptions);\n                infoWindow = new google.maps.InfoWindow();\n                maxZoomService = new google.maps.MaxZoomService();\n              //  map.addListener('click', showMaxZoom);\n\n\n                marker = new google.maps.Marker({ position: latlng, map: map, title: \"Lat:\"+latlng, icon: 'https://raw.githubusercontent.com/picklepete/iss/master/saticon.gif' });\n    //aquator\n    \n    \n       var rectangle = new google.maps.Rectangle({\n       strokeColor: '#0000FF',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(0, 90),\n       new google.maps.LatLng(0, 0))\n     });\n     \n    b1tlx= 85.03568516\n    b1tly= -150.734375\n    b1brx= -60.2679967\n    b1bry= -120.90625\n    var rectangle = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b1tlx, b1tly),\n       new google.maps.LatLng(b1brx, b1bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 1',\n          position: new google.maps.LatLng(b1brx, b1bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n     //   mapLabel.set('position', new google.maps.LatLng(34.03, -118.235));\n        \n    b2tlx= 85.03568516\n    b2tly= -100.734375\n    b2brx= -60.2679967\n    b2bry= -70.90625\n   \n  var rectangle1 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b2tlx, b2tly),\n       new google.maps.LatLng(b2brx, b2bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 2',\n          position: new google.maps.LatLng(b2brx, b2bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n   \n  var rectangle2 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, -50.734375),\n       new google.maps.LatLng(-60.2679967,-10.90625))\n     });\n   \n       var mapLabel = new MapLabel({\n          text: 'BOX 3',\n          position: new google.maps.LatLng(-60.2679967,-10.90625),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n     var rectangle3 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, 10),\n       new google.maps.LatLng(-60.2679967, 40))\n     });\n     \n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 4',\n          position: new google.maps.LatLng(-60.2679967, 40),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n          var rectangle4 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85, 90),\n       new google.maps.LatLng(-60, 130))\n     }); \n     \n       \n       var mapLabel = new MapLabel({\n          text: 'BOX 5',\n          position: new google.maps.LatLng(-60, 130),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n         \n            }\n            google.maps.event.addDomListener(window, 'load', init);\n\n\n\n           function showMaxZoom(e) {\n             maxZoomService.getMaxZoomAtLatLng(e.latLng, function(response) {\n               if (response.status !== google.maps.MaxZoomStatus.OK) {\n                 infoWindow.setContent('Error in MaxZoomService');\n               } else {\n                 infoWindow.setContent(\n                     'The maximum zoom at this location is: ' + response.zoom);\n               }\n               infoWindow.setPosition(e.latLng);\n               infoWindow.open(map);\n             });\n           }\n            function draw_flight_path(latlng) {\n                if(last_latlng == undefined) {\n                    last_latlng = latlng;\n                }\n                flight_path = new google.maps.Polyline({\n                    path: [last_latlng, latlng],\n                    strokeColor: \"#FFFF00\",\n                    strokeOpacity: 1.0,\n                    strokeWeight: 2\n                });\n                last_latlng = latlng;\n                flight_path.setMap(map);\n            };\n\n            function get_latest_position() {\n                $.getJSON('http://open-notify-api.herokuapp.com/iss-now.json?callback=?', function(data, status) {\n                    position = data.iss_position;\n var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n// $.getJSON('https://api.wheretheiss.at/v1/satellites/25544/', function(data, status) {\n\n                    var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n                    map.setCenter(latlng);\n                    marker.setPosition(latlng);\n                    marker.setTitle(\"Position: \"+latlng);\n                    var mycon = \"ISSI<br>Lat:\"+position.latitude+\"<br>Long\"+ position.longitude\n                    var myinfowindow = new google.maps.InfoWindow({\n                        content: mycon\n                    });\n marker.addListener('click', function() {\n    myinfowindow.open(map, marker);\n  });\n\n                    draw_flight_path(latlng);\n                    \n                });\n            };\n            setInterval(get_latest_position, 5000);\n        </script>\n    </head>\n    <body>\n        <div id=\"map\"/>\n    </body>\n</html>\n","output":"str","x":380,"y":120,"wires":[["1c3a0c9f.c76e1b"]]},{"id":"ab2ca4.6a21236","type":"http in","z":"1d8c3042.9e938c","name":"","url":"/iss","method":"get","upload":false,"swaggerDoc":"","x":163.5,"y":119.25,"wires":[["e388a52c.cab618"]]},{"id":"1c3a0c9f.c76e1b","type":"http response","z":"1d8c3042.9e938c","name":"","statusCode":"","headers":{},"x":590,"y":120,"wires":[]},{"id":"5eaa818f.c713f8","type":"http request","z":"1d8c3042.9e938c","name":"","method":"GET","ret":"obj","url":"http://open-notify-api.herokuapp.com/iss-now.json","tls":"","x":350,"y":200,"wires":[["545fe74.94ca958","61509765.9003ec","2bb09be0.68305c","311b9ad2.b1edc6"]]},{"id":"545fe74.94ca958","type":"debug","z":"1d8c3042.9e938c","name":"IssiPos","active":false,"console":"false","complete":"payload","x":340,"y":160,"wires":[]},{"id":"452bb5c6.98bca","type":"inject","z":"1d8c3042.9e938c","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":170,"y":200,"wires":[["5eaa818f.c713f8"]]},{"id":"53cbcd75.d708f","type":"ui_template","z":"1d8c3042.9e938c","group":"f4330511.cc67e8","name":"map","order":0,"width":"15","height":"11","format":"<div >\n<iframe src=\"/iss\" height=600 width=800>\n  <p>Your browser does not support iframes.</p>\n</iframe>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":590,"y":80,"wires":[[]]},{"id":"61509765.9003ec","type":"function","z":"1d8c3042.9e938c","name":"DisplayLat","func":"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["233c293e.a0af32","289072ca.5c067e"]]},{"id":"233c293e.a0af32","type":"ui_text","z":"1d8c3042.9e938c","group":"dd4bed2d.6c72","order":1,"width":0,"height":0,"name":"","label":"latitude","format":"{{msg.payload.iss_position.latitude}}","layout":"row-spread","x":780,"y":200,"wires":[]},{"id":"289072ca.5c067e","type":"ui_text","z":"1d8c3042.9e938c","group":"dd4bed2d.6c72","order":2,"width":0,"height":0,"name":"","label":"longitude","format":"{{msg.payload.iss_position.longitude}}","layout":"row-spread","x":780,"y":240,"wires":[]},{"id":"8023998d.85a808","type":"ui_gauge","z":"1d8c3042.9e938c","name":"","group":"be691044.31bbe","order":0,"width":"5","height":"3","gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#6f7dc9","#530dbb"],"seg1":"","seg2":"","x":1310,"y":780,"wires":[]},{"id":"8c1e65c3.aa5928","type":"ui_gauge","z":"1d8c3042.9e938c","name":"","group":"be691044.31bbe","order":0,"width":"5","height":"3","gtype":"gage","title":"Green","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#73bc78","#21ac1b"],"seg1":"","seg2":"","x":1310,"y":740,"wires":[]},{"id":"d5de1a0b.f961b8","type":"ibmiot in","z":"1d8c3042.9e938c","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":790,"y":740,"wires":[["3229c420.49d07","c8847a06.fde638","bae04126.144b8","70ac5eba.0df63","30b5b2e7.4da1ce","4401f9a9.a0fe9"]]},{"id":"311b9ad2.b1edc6","type":"function","z":"1d8c3042.9e938c","name":"CheckArea","func":"//Lat = Y Long = X\n/*\nbb is the bounding box, (ix,iy) are its top-left coordinates, and (ax,ay) its bottom-right coordinates. p is the point and (x,y) its coordinates.\n*/\nfunction checkPos(lat,lon,topleftlat,topleftlon,bottomrightlat,bottomrightlon,box)\n{\n    msg.inbox = box;\n  \n  //  node.warn(\"X topleftlon \"+topleftlon+\"  <= lon \"+lon+ \" res = \"+(   topleftlon <= lon   ))\n  //  node.warn(\"X lon \"+lon+\"  <= bottomrightlon \"+bottomrightlon+ \" res = \"+(  lon <= bottomrightlon)  )\n\nif( topleftlon <= lon && lon <= bottomrightlon ) {\n    // Point is in bounding box\n\n \n //node.warn(\" ISS in the area (\"+box+\").. candle ON\")  \nreturn true;\n\n}else{\n// node.warn(\"ISS not in the area  (\"+box+\")... candle OFF\")  \n return  false;\n\n\n}\nreturn  false;\n}\n\n \nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n\n  r0LatTl= 85\n  r0LngTl=-150\n\n  r0LatBr= -60\n  r0LngBr= -120\n\n  r1LatTl=  85\n  r1LngTl=-100.\n\n  r1LatBr= -60\n  r1LngBr= -70\n\n\n  r2LatTl=  85\n  r2LngTl= -50\n\n  r2LatBr= -60\n  r2LngBr= -10\n\n  r3LatTl=  85\n  r3LngTl= 10\n\n  r3LatBr= 85\n  r3LngBr= 40\n  \n  r4LatTl= 85\n  r4LngTl= 90\n\n  r4LatBr= -60\n  r4LngBr= 130\n\n/*\n\nlatitude\n\n-50.50472391191916\n\nlongitude\n\n-126.35910070188285\n\n\n\nlatitude = -50.5047239119191\n\nlongitude= -126.35910070188285\n\nmsg.inarea = false;\n node.warn(\"check\")\nres =checkPos(latitude ,longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box 1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n  */  \n\nmsg.inarea = false;\nres =checkPos(msg.latitude ,msg.longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n\n\nres =checkPos(msg.latitude ,msg.longitude,r1LatTl,r1LngTl,r1LatBr,r1LngBr,\"box 2\");\nmsg.inarea = res;\nif(res)\n    return msg;\n    \n \nres =checkPos(msg.latitude ,msg.longitude,r2LatTl,r2LngTl,r2LatBr,r2LngBr,\"box 3\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\nres =checkPos(msg.latitude ,msg.longitude,r3LatTl,r3LngTl,r3LatBr,r3LngBr,\"box 4\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\n\nres =checkPos(msg.latitude ,msg.longitude,r4LatTl,r4LngTl,r4LatBr,r4LngBr,\"box 5\");\nmsg.inarea = res;\nif(res)\n    return msg; \n    \nmsg.inbox = \"No\";    \nreturn msg;","outputs":1,"noerr":0,"x":250,"y":380,"wires":[["523ccb9c.7ab848","b9d510b0.76bcf","b8da69ed.926a88"]]},{"id":"e2ff75fa.b5bee","type":"e-mail","z":"1d8c3042.9e938c","server":"smtp.gmail.com","port":"465","secure":true,"name":"yourmail@gmail.com , mvk4ibm@gmail.com","dname":"","x":1290,"y":380,"wires":[]},{"id":"d083b032.b708d","type":"function","z":"1d8c3042.9e938c","name":"IfIss is in Area send email","func":"\n    msg.topic = \"ISS update for YOU\"\n    msg.payload= \"Hello from Node-RED ISS is in Area with the SPEED of x Km/H and traveled  \"+global.get(\"distance\")+ \" km\";\n    return msg;","outputs":1,"noerr":0,"x":950,"y":380,"wires":[["e2ff75fa.b5bee","abe1cef0.d3ffc"]]},{"id":"d6d24b13.593a1","type":"inject","z":"1d8c3042.9e938c","name":"Send Email","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":950,"y":440,"wires":[["d083b032.b708d"]]},{"id":"abe1cef0.d3ffc","type":"debug","z":"1d8c3042.9e938c","name":"email","active":false,"console":"false","complete":"true","x":1170,"y":440,"wires":[]},{"id":"e409d719.fa89c","type":"function","z":"1d8c3042.9e938c","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":900,"wires":[[]]},{"id":"e7c137d3.a47ba8","type":"delay","z":"1d8c3042.9e938c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":180,"y":540,"wires":[["fa1106a2.12f108"]]},{"id":"f7e0f2e6.391dd","type":"ibmiot out","z":"1d8c3042.9e938c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":710,"y":540,"wires":[]},{"id":"72b4461b.477c08","type":"comment","z":"1d8c3042.9e938c","name":"Check the Code below","info":"","x":260,"y":340,"wires":[]},{"id":"13a2e0be.49b35f","type":"comment","z":"1d8c3042.9e938c","name":"IssWebPage","info":"","x":347.2222222222222,"y":77.5,"wires":[]},{"id":"83f93041.d310c","type":"comment","z":"1d8c3042.9e938c","name":"#2 Use Your GMAIL account","info":"","x":1240,"y":340,"wires":[]},{"id":"9740cedf.36bf6","type":"inject","z":"1d8c3042.9e938c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":580,"wires":[["fa1106a2.12f108"]]},{"id":"cf740955.1379c8","type":"comment","z":"1d8c3042.9e938c","name":"#1 Adjust the candle number","info":"","x":980,"y":480,"wires":[]},{"id":"586136f8.f34cd8","type":"comment","z":"1d8c3042.9e938c","name":"#1 Adjust the candle number","info":"","x":800,"y":700,"wires":[]},{"id":"3229c420.49d07","type":"debug","z":"1d8c3042.9e938c","name":"InComing","active":false,"console":"false","complete":"payload","x":780,"y":800,"wires":[]},{"id":"c8847a06.fde638","type":"function","z":"1d8c3042.9e938c","name":"Red","func":"var newmsg ={}\nnewmsg.payload = msg.payload.candleRR\nnewmsg.topic =\"Red\";\nreturn newmsg;","outputs":1,"noerr":0,"x":1110,"y":700,"wires":[["ba43a87d.775d18"]]},{"id":"bae04126.144b8","type":"function","z":"1d8c3042.9e938c","name":"Green","func":"msg.payload = msg.payload.candleGG\nmsg.topic =\"Green\";\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":740,"wires":[["8c1e65c3.aa5928"]]},{"id":"70ac5eba.0df63","type":"function","z":"1d8c3042.9e938c","name":"Blue","func":"msg.payload = msg.payload.candleBB\nmsg.topic =\"Blue\";\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":780,"wires":[["8023998d.85a808"]]},{"id":"ba43a87d.775d18","type":"ui_gauge","z":"1d8c3042.9e938c","name":"","group":"be691044.31bbe","order":0,"width":"5","height":"3","gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":1310,"y":700,"wires":[]},{"id":"4faa56c9.227f18","type":"function","z":"1d8c3042.9e938c","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":460,"wires":[["f7e0f2e6.391dd","d7527320.7bf678"]]},{"id":"a53191df.db1038","type":"function","z":"1d8c3042.9e938c","name":"setCandle=Red","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":520,"wires":[["f7e0f2e6.391dd"]]},{"id":"fc12ada8.22d51","type":"function","z":"1d8c3042.9e938c","name":"setCandle=Blue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":660,"wires":[["f7e0f2e6.391dd"]]},{"id":"7ecec31f.2eef98","type":"inject","z":"1d8c3042.9e938c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":620,"wires":[["fc12ada8.22d51"]]},{"id":"fa1106a2.12f108","type":"function","z":"1d8c3042.9e938c","name":"setCandle=Green","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":560,"wires":[["f7e0f2e6.391dd"]]},{"id":"af1486c8.381f38","type":"comment","z":"1d8c3042.9e938c","name":"#3 Check email text","info":"","x":930,"y":340,"wires":[]},{"id":"523ccb9c.7ab848","type":"switch","z":"1d8c3042.9e938c","name":"In Area ?","property":"inarea","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":440,"y":380,"wires":[["e7c137d3.a47ba8","59cedd7b.7cee18","a53191df.db1038","22569cb2.0acea4"],["4faa56c9.227f18"]]},{"id":"59cedd7b.7cee18","type":"delay","z":"1d8c3042.9e938c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":680,"y":380,"wires":[["d083b032.b708d"]]},{"id":"d7527320.7bf678","type":"debug","z":"1d8c3042.9e938c","name":"Not in area","active":true,"console":"false","complete":"true","x":710,"y":460,"wires":[]},{"id":"b9d510b0.76bcf","type":"debug","z":"1d8c3042.9e938c","name":"Check","active":false,"console":"false","complete":"payload","x":230,"y":440,"wires":[]},{"id":"87a0c1bf.fb855","type":"ui_text","z":"1d8c3042.9e938c","group":"dd4bed2d.6c72","order":4,"width":0,"height":0,"name":"","label":"In Area?","format":"{{msg.inbox}}","layout":"row-spread","x":780,"y":300,"wires":[]},{"id":"b8da69ed.926a88","type":"function","z":"1d8c3042.9e938c","name":"InBox","func":"msg.inbox = msg.inbox.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["87a0c1bf.fb855"]]},{"id":"5247666e.20f71","type":"function","z":"1d8c3042.9e938c","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":780,"wires":[["f7e0f2e6.391dd"]]},{"id":"fdcd1111.7046a8","type":"ui_button","z":"1d8c3042.9e938c","name":"","group":"dd4bed2d.6c72","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Off","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":196.875,"y":820.625,"wires":[["5247666e.20f71"]]},{"id":"22569cb2.0acea4","type":"debug","z":"1d8c3042.9e938c","name":"In Area","active":true,"console":"false","complete":"true","x":580,"y":340,"wires":[]},{"id":"46955824.62971","type":"comment","z":"1d8c3042.9e938c","name":"Infos","info":"mvk@ca.ibm.com - November 2017 \nSee https://github.com/SixNationsPolytechnic/iotcandle","x":150,"y":1040,"wires":[]},{"id":"30b5b2e7.4da1ce","type":"function","z":"1d8c3042.9e938c","name":"Counter","func":"var newmsg ={}\nnewmsg.payload = msg.payload.value\nreturn newmsg;","outputs":1,"noerr":0,"x":1120,"y":640,"wires":[["e667f6d2.f4c35"]]},{"id":"e667f6d2.f4c35","type":"ui_text","z":"1d8c3042.9e938c","group":"be691044.31bbe","order":5,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-spread","x":1320,"y":640,"wires":[]},{"id":"2bb09be0.68305c","type":"function","z":"1d8c3042.9e938c","name":"Sale LatLong","func":"\nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n//msg.payload = []//\n//msg.payload =msg.latitude;\n//msg.topic=\"Lat\";\nnode.send(msg)\nmsg.topic=\"Lon\";\nmsg.payload =msg.longitude;\n//msg.payload[1] =msg.longitude;\n//\"\"+msg.latitude+\",\"+msg.longitude;\nglobal.set(\"oldlatitude\",global.get(\"latitude\"));\nglobal.set(\"oldlongitude\",global.get(\"longitude\"));\n\nglobal.set(\"latitude\",msg.latitude)\nglobal.set(\"longitude\",msg.longitude)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["7d78f205.67d134","fec5b2de.f61aa"]]},{"id":"4401f9a9.a0fe9","type":"function","z":"1d8c3042.9e938c","name":"Time","func":"function unixTime(unixtime) {\n\n    var u = new Date(unixtime);\n\n      return u.getUTCFullYear() +\n        '-' + ('0' + u.getUTCMonth()).slice(-2) +\n        '-' + ('0' + u.getUTCDate()).slice(-2) + \n        ' ' + ('0' + u.getUTCHours()).slice(-2) +\n        ':' + ('0' + u.getUTCMinutes()).slice(-2) +\n        ':' + ('0' + u.getUTCSeconds()).slice(-2) +\n        '.' + (u.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) \n    };\n    var newmsg ={}\nnewmsg.payload = unixTime(parseInt(msg.payload.ts))\nreturn newmsg;","outputs":1,"noerr":0,"x":1110,"y":600,"wires":[["e6aed0c.9f43b7"]]},{"id":"e6aed0c.9f43b7","type":"ui_text","z":"1d8c3042.9e938c","group":"be691044.31bbe","order":5,"width":0,"height":0,"name":"","label":"Msg Time","format":"{{msg.payload}}","layout":"row-spread","x":1320,"y":600,"wires":[]},{"id":"cb4d6ad0.968718","type":"ui_button","z":"1d8c3042.9e938c","name":"","group":"dd4bed2d.6c72","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Blue","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":190,"y":720,"wires":[[]]},{"id":"7d78f205.67d134","type":"function","z":"1d8c3042.9e938c","name":"Distance","func":"function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {\n  var R = 6371; // Radius of the earth in km\n  var dLat = deg2rad(lat2-lat1);  // deg2rad below\n  var dLon = deg2rad(lon2-lon1); \n  var a = \n    Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * \n    Math.sin(dLon/2) * Math.sin(dLon/2)\n    ; \n  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n  var d = R * c; // Distance in km\n  return d;\n}\n\nfunction deg2rad(deg) {\n  return deg * (Math.PI/180)\n}\nlat=global.get(\"latitude\");\nlon=global.get(\"longitude\");\nolat=global.get(\"oldlatitude\");\nolon=global.get(\"oldlongitude\");\n\n\ndistance =getDistanceFromLatLonInKm(olat,olon,lat,lon)\n//node.warn(speed)\nmsg.payload = distance.toFixed(2);\nmsg.distance = distance;\nglobal.set(\"distance\",distance);\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":120,"wires":[["d059f5e2.9b0ee8","63f716c6.632614"]]},{"id":"d059f5e2.9b0ee8","type":"ui_text","z":"1d8c3042.9e938c","group":"dd4bed2d.6c72","order":4,"width":0,"height":0,"name":"","label":"Distance in Km( 10Sec)","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":120,"wires":[]},{"id":"fec5b2de.f61aa","type":"ui_chart","z":"1d8c3042.9e938c","name":"","group":"dd4bed2d.6c72","order":0,"width":0,"height":0,"label":"Longitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":787.2222222222222,"y":163.88888888888888,"wires":[[],[]]},{"id":"be850ccf.ae57f","type":"ui_text","z":"1d8c3042.9e938c","group":"dd4bed2d.6c72","order":4,"width":0,"height":0,"name":"","label":"Speed in Km/H","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":80,"wires":[]},{"id":"63f716c6.632614","type":"function","z":"1d8c3042.9e938c","name":"Calulate SPEED","func":"// Home work! Calulate the speed in Km/H of the ISS\n// based on the distance \n//msg.distance = IIS traveld in 10 Sec\n\nmsg.payload = \"???\"\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":80,"wires":[["be850ccf.ae57f"]]},{"id":"f4330511.cc67e8","type":"ui_group","z":"","name":"ISS Area","tab":"7974f9c4.e766cc","order":1,"disp":true,"width":"12"},{"id":"dd4bed2d.6c72","type":"ui_group","z":"","name":"ISS Infos","tab":"7974f9c4.e766cc","order":2,"disp":true,"width":"6"},{"id":"be691044.31bbe","type":"ui_group","z":"","name":"FromPI","tab":"7974f9c4.e766cc","order":3,"disp":true,"width":"6"},{"id":"7974f9c4.e766cc","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"}]
