test02.flow
[{"id":"77fc79ab.d62b28","type":"inject","z":"1a76d820.92fed4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":139.36000061035156,"wires":[["f438b4b5.675878","45da98d6.be651"]]},{"id":"f438b4b5.675878","type":"debug","z":"1a76d820.92fed4","name":"","active":true,"console":"false","complete":"payload","x":353,"y":149.72999572753906,"wires":[]},{"id":"45da98d6.be651","type":"debug","z":"1a76d820.92fed4","name":"","active":true,"console":"false","complete":"false","x":357,"y":245.72998046875,"wires":[]}]
